html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

#map {
	height: 100%;
}

.controls {
	margin-top: 10px;
	border: 1px solid transparent;
	border-radius: 2px 0 0 2px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	height: 32px;
	outline: none;
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#pac-input, #removeSavedPlaces, #seeSavedPlaces {
	background-color: #fff;
	font-family: Roboto;
	font-size: 15px;
	font-weight: 300;
	margin-left: 60px;
	padding: 0 11px 0 13px;
	text-overflow: ellipsis;
	width: 80%;
}

#menu {
	height: 28px;
	width: 28px;
	padding:1px 1px 1px 1px;
	margin-left: 20px;
	margin-top: 10px;
}

#menuClose {
	float: right;
}

#menuList {
	height: 100%;
	background-color: #fff;
	width: 70%;
	margin-top: 0;
}

.glyphicon {
	font-family: Roboto;
	font-size: 30px;
	font-weight: 300;
}

#pac-input:focus {
	border-color: #4d90fe;
}

.pac-container {
	font-family: Roboto;
}

#inputBox, #getSavedGroup, #getSavedType, #searchOrRetrieve {
	height: 60%;
	width: 50%;
	margin-left: 25%;
	margin-top: 10%;
	background-color: white;
	border-style: solid;
}

.notes {
	width: 90%;
}

#type-selector {
	color: #fff;
	background-color: #4d90fe;
	padding: 5px 11px 0px 11px;
}

#type-selector label {
	font-family: Roboto;
	font-size: 13px;
	font-weight: 300;
}
#target {
	width: 345px;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 100%;
	background-color: #fff;
}

li {
	display: block;
	color: #000;
	padding: 8px 0 8px 16px;
	text-decoration: none;
	font-family: Roboto;
	font-size: 13px;
	font-weight: bold;
	border-style: ridge; 

}

/* Change the link color on hover */
li a:hover {
    background-color: #555;
    color: white;
}
